@page "/Products/{productId:int}"

@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.Product

@attribute [Authorize]

@inject NavigationManager NavManager
@inject IDataService<ProductDetailDto> _dataService

<h1>@product.Name</h1>

<p></p>

@code {

    [Parameter]
    public int productId { get; set; }

    protected string Title = "Produktdetail";

    protected ProductDetailDto product = new();

    protected override async Task OnParametersSetAsync()
    {
        if (productId != 0)
        {
            Title = "Bearbeiten";
            product = await _dataService.Request("GET", "/Products/" + productId);
        }
        else Title = "nicht gefunden";
    }
}