@page "/"

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <h1>Dashboard</h1>

    <p>Willkommen bei maERP</p>

    <!--<SurveyPrompt Title="How is Blazor working for you?" />-->
</AuthorizeView>