@page "/Product/{productId:int}"
@attribute [Authorize]
@using maERP.Data.Models
@inject NavigationManager NavigationManager
@inject maERP.Server.Contracts.IProductsRepository productRepository

<h1>@product.Name</h1>

<p></p>

@code {

    [Parameter]
    public int productId { get; set; }

    protected string Title = "Produktdetail";

    protected maERP.Data.Models.Product product = new();

    protected override async Task OnParametersSetAsync()
    {
        if (productId != 0)
        {
            Title = "Edit";
            product = await productRepository.GetAsync(productId);
        }
        else Title = "nicht gefunden";
    }
}