@page "/SalesChannel/{salesChannelId:int}"
@attribute [Authorize]
@using maERP.Shared.Models
@inject NavigationManager NavigationManager
@inject maERP.Server.Contracts.ISalesChannelRepository salesChannelRepository

<h1>@salesChannel.Name</h1>

<p></p>

@code {

    [Parameter]
    public int salesChannelId { get; set; }

    protected string Title = "Vertriebskanaldetails";

    protected maERP.Shared.Models.SalesChannel salesChannel = new();

    protected override async Task OnParametersSetAsync()
    {
        if (salesChannelId != 0)
        {
            Title = "bearbeiten";
            salesChannel = await salesChannelRepository.GetAsync(salesChannelId);
        }
        else Title = "nicht gefunden";
    }
}