@page "/TaxClass"
@attribute [Authorize]
@using maERP.Data.Models
@inject maERP.Server.Contracts.ITaxClassesRepository taxClassRepository

<PageTitle>Steuerklassen</PageTitle>

<h1>Steuersatz</h1>

@if (taxClasses == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>Steuersatz</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var taxClass in taxClasses)
            {
                <tr>
                    <td>@taxClass.TaxRate</td>
                    <td>
                        <a href='/TaxClass/edit/@taxClass.Id' class="btn btn-outline-dark" role="button">
                            Bearbeiten
                        </a>
                        <a href='/TaxClass/delete/@taxClass.Id' class="btn btn-outline-danger" role="button">
                            Löschen
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="/Product/add">Steuersatz anlegen</a>
}

@code {

    private List<maERP.Data.Models.TaxClass>? taxClasses;

    protected override async Task OnInitializedAsync()
    {
        taxClasses = await taxClassRepository.GetAllAsync();
    }
}