@page "/Warehouse/{warehouseId:int}"
@attribute [Authorize]
@using maERP.Data.Models
@inject NavigationManager NavigationManager
@inject maERP.Server.Contracts.IWarehousesRepository warehouseRepository

<h1>Lager</h1>


@code {

    [Parameter]
    public int warehouseId { get; set; }

    protected string Title = "Lager";

    protected maERP.Data.Models.Warehouse warehouse = new();

    protected override async Task OnParametersSetAsync()
    {
        if (warehouseId != 0)
        {
            Title = "Bearbeiten";
            warehouse = await warehouseRepository.GetAsync(warehouseId);
        }
        else Title = "nicht gefunden";
    }
}