@page "/Orders/{orderId:int}"

@using maERP.Shared.Dtos.Order

@inject NavigationManager NavigationManager

<h1>Bestellung @order.Id</h1>

@code {

    [Parameter]
    public int orderId { get; set; }

    protected OrderDetailDto order = new();

    protected override async Task OnParametersSetAsync()
    {
        if (orderId != 0)
        {
            // product = await productRepository.GetAsync(productId);
        }

        await Task.CompletedTask;
    }
}