@page "/user/{userId}"
@using Microsoft.AspNetCore.Authorization
@using maERP.SharedUI.Contracts
@using maERP.SharedUI.Models.User
@using maERP.SharedUI.Services

@attribute [Authorize]

@inject NavigationManager _navigationManager
@inject IUserService _userService

<h1>@user.Email</h1>

<p></p>

@code {

    [Parameter]
    public string userId { get; set; } = "";

    protected string Title = "Benutzerdetail";

    protected UserVM user = new();

    protected override async Task OnParametersSetAsync()
    {
        if (userId != null)
        {
            user = await _userService.GetUserDetails(userId);
        }
    }
}