name: maerp-mssql

services:
  maerp.server:
    image: ${DOCKER_REGISTRY-}maerpserver
    build:
      context: .
      dockerfile: src/maERP.Server/Dockerfile
    environment:
      - DatabaseConfig__Provider=MSSQL
      - DatabaseConfig__ConnectionString=Server=mssql;Database=maerp_01;User Id=maerp;Password=maerp123!;TrustServerCertificate=True;
    ports:
      - 8443:443
      - 8080:80
    depends_on:
      mssql:
        condition: service_healthy
      grafana-agent:
        condition: service_started
    networks:
      - backend

  maerp.browser:
    image: ${DOCKER_REGISTRY-}maerpbrowser
    build:
      context: .
      dockerfile: src/maERP.UI.Browser/Dockerfile
    environment:
      - SERVER_URL=https://maerp.server:443
    ports:
      - 8444:443
      - 8081:80
    depends_on:
      - maerp.server
    networks:
      - backend

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "SqlServer123!"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - maerp-mssql-data:/var/opt/mssql
      - ./scripts/mssql-init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P SqlServer123! -Q 'SELECT 1' || exit 1"]
      timeout: 20s
      retries: 10
      interval: 30s
      start_period: 60s

  grafana-agent:
    image: grafana/agent:latest
    entrypoint:
      - /bin/grafana-agent
      - -server.http.address=0.0.0.0:12345
      - -config.file=/etc/agent-config/agent.yaml
      - -metrics.wal-directory=/tmp/agent/wal
      - -enable-features=integrations-next
      - -config.expand-env
      - -config.enable-read-api
    environment:
      HOSTNAME: grafana-agent
      REMOTE_WRITE_HOST: mimir:9009
      MSSQL_HOST: mssql:1433
    ports:
      - "12345:12345"
    networks:
      - backend

volumes:
  maerp-mssql-data:

networks:
  backend:
    driver: bridge