@page "/"
@page "/Logout"
@inherits LoginModel

<PageTitle>Login</PageTitle>

<label for="name">E-Mail-Adresse:</label>
<input name="name" @bind="this.Username" id="name" type="text" placeholder="Ihre E-Mail-Adresse" class="form-control">

<label for="password">Kennwort</label>
<input name="password" @bind="this.Password" id="password" placeholder="Ihr Kennwort" type="password" class="form-control">

<button @onclick="Login" class="btn btn-primary" type="submit" id="Anmelden" name="Anmelden">Anmelden</button>

<span id="errorMsg" class="text-danger">@ErrorMsg</span>