@page "/Orders/{orderId:int}"
@using maERP.SharedUI.Contracts
@using maERP.SharedUI.Models.Order
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NavigationManager _navigationManager
@inject IOrderService _orderService

<h1>Bestellung @order.Id</h1>

@code {

    [Parameter]
    public int orderId { get; set; }

    protected OrderVM order = new();

    protected override async Task OnParametersSetAsync()
    {
        if (orderId != 0)
        {
            order = await _orderService.GetOrderDetails(orderId);
        }
    }
}