<h3>AI Helper</h3>

<MudGrid>
    
    <MudItem xs="4">
        <MudTextField T="string" Label="Produktbeschreibung" Variant="Variant.Outlined" Lines="20"/>
        <MudButton Variant="Variant.Filled">Reset</MudButton>
    </MudItem>

    <MudItem xs="4">
        <MudTextField T="string" Label="Prompt" Variant="Variant.Outlined" Lines="20"/>
        <MudSelect T="string" Label="Prompt" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
        </MudSelect>
    </MudItem>

    <MudItem xs="4">
        <MudTextField T="string" Label="Ergebnis" Variant="Variant.Outlined" Lines="20"/>
        <MudButton Variant="Variant.Filled">Generiere</MudButton>
    </MudItem>

    <MudItem xs="12">
        <MudStack Row="true">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary">Abbrechen</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Speichern</MudButton>
        </MudStack>
    </MudItem>
    
</MudGrid>