@page "/Order"

@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts;
@using maERP.Shared.Services;
@using maERP.Shared.Dtos.Order;

@attribute [Authorize]

@inject NavigationManager NavManager;
@inject IDataService<ICollection<GetOrderDto>> DataService;

<PageTitle>Bestellungen</PageTitle>

<h1>Bestellungen</h1>

@if (orders == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Artikel</th>
                <th>Summe</th>
                <th>Datum</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>

    <a href="/Product/add">Bestellung anlegen</a>
}

@code {

    private ICollection<GetOrderDto> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await DataService.Request("GET", "/Orders/GetAll");
    }
}