@page "/Orders/{orderId:int}"

@using maERP.Shared.Dtos.Order

@inject NavigationManager NavigationManager

<h1>@order.Id</h1>

<p></p>

@code {

    [Parameter]
    public int orderId { get; set; }

    protected string Title = "Bestelldetails";

    protected OrderDetailDto order = new();

    protected override async Task OnParametersSetAsync()
    {
        if (orderId != 0)
        {
            Title = "Bearbeiten";
            // product = await productRepository.GetAsync(productId);
        }
        else Title = "nicht gefunden";

        await Task.CompletedTask;
    }
}