@page "/Order/{orderId:int}"
@using maERP.Shared.Models
@inject NavigationManager NavigationManager

<h1>@product.Name</h1>

<p></p>

@code {

    [Parameter]
    public uint productId { get; set; }

    protected string Title = "Produktdetail";

    protected maERP.Shared.Models.Product product = new();

    protected override async Task OnParametersSetAsync()
    {
        if (productId != 0)
        {
            Title = "Bearbeiten";
            // product = await productRepository.GetAsync(productId);
        }
        else Title = "nicht gefunden";

        await Task.CompletedTask;
    }
}