@page "/SalesChannel"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts;
@using maERP.Shared.Services;
@using maERP.Shared.Dtos;

@attribute [Authorize]

@inject NavigationManager NavigationManager;
@inject IDataService<ICollection<GetSalesChannelDto>> DataService;

<PageTitle>Vertriebskanäle</PageTitle>

<h1>Vertriebskanäle</h1>

@if (salesChannels == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salesChannel in salesChannels)
            {
                <tr>
                    <td>@salesChannel.Name</td>
                    <td>@salesChannel.URL</td>
                    <td>
                        <a href='/SalesChannel/edit/@salesChannel.Id' class="btn btn-outline-dark" role="button">
                            Bearbeiten
                        </a>
                        <a href='/SalesChannel/delete/@salesChannel.Id' class="btn btn-outline-danger" role="button">
                            Löschen
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="/SalesChannel/add">Vertriebskanal anlegen</a>
}

@code {

    private ICollection<GetSalesChannelDto> salesChannels;

    protected override async Task OnInitializedAsync()
    {
        salesChannels = await DataService.Request("GET", "/SalesChannels/GetAll");
    }
}