@page "/SalesChannels"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IDataService<ICollection<SalesChannelListDto>> DataService

<PageTitle>Vertriebskanäle</PageTitle>

<h1>Vertriebskanäle</h1>

@if (salesChannels == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salesChannel in salesChannels)
            {
                <tr>
                    <td>
                        <a href='/SalesChannels/@salesChannel.Id'>@salesChannel.Name</a>
                    </td>
                    <td>@salesChannel.Url</td>
                    <td>
                        <a href='/SalesChannels/edit/@salesChannel.Id' class="btn btn-outline-dark" role="button">
                            Bearbeiten
                        </a>
                        <a href='/SalesChannels/delete/@salesChannel.Id' class="btn btn-outline-danger" role="button">
                            Löschen
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="/SalesChannels/add">Vertriebskanal anlegen</a>
}

@code {

    private ICollection<SalesChannelListDto>? salesChannels;

    protected override async Task OnInitializedAsync()
    {
        salesChannels = await DataService.Request("GET", "/SalesChannel/GetAll");
    }
}