@page "/SalesChannels/{salesChannelId:int}"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Services;
@using maERP.Shared.Dtos;

@attribute [Authorize]

@inject NavigationManager NavigationManager;
@inject IDataService<SalesChannelDetailDto> DataService;

<h1>@salesChannel.Name</h1>

<p></p>

@code {

    [Parameter]
    public uint salesChannelId { get; set; }

    protected string Title = "Vertriebskanaldetails";

    protected SalesChannelDetailDto salesChannel = new();

    protected override async Task OnParametersSetAsync()
    {
        if (salesChannelId != 0)
        {
            Title = "bearbeiten";
            salesChannel = await DataService.Request("GET", "/SalesChannels/" + salesChannelId);
        }
        else Title = "nicht gefunden";
    }
}