@page "/TaxClasses/{taxClassId:int}"
@using maERP.Shared.Models
@inject NavigationManager NavigationManager

<h1>Steuerklasse</h1>



@code {

    [Parameter]
    public int taxClassId { get; set; }

    protected string Title = "Steuersätze";

    protected maERP.Shared.Models.TaxClass taxClass = new();

    protected override async Task OnParametersSetAsync()
    {
        if (taxClassId != 0)
        {
            Title = "Bearbeiten";
            // taxClass = await taxClassRepository.GetAsync(taxClassId);
        }
        else Title = "nicht gefunden";

        await Task.CompletedTask;
    }
}