@page "/TaxClasses"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.TaxClass

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IDataService<ICollection<TaxClassListDto>> DataService

<PageTitle>Steuerklassen</PageTitle>

<h1>Steuersatz</h1>

@if (taxClasses == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>Steuersatz</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var taxClass in taxClasses)
            {
                <tr>
                    <td>@taxClass.TaxRate</td>
                    <td>
                        <a href='/TaxClasses/edit/@taxClass.Id' class="btn btn-outline-dark" role="button">
                            Bearbeiten
                        </a>
                        <a href='/TaxClasses/delete/@taxClass.Id' class="btn btn-outline-danger" role="button">
                            Löschen
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="/Product/add">Steuersatz anlegen</a>
}

@code {

    private ICollection<TaxClassListDto>? taxClasses;

    protected override async Task OnInitializedAsync()
    {
        taxClasses = await DataService.Request("GET", "/TaxClasses/GetAll");
    }
}