@page "/User"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts;
@using maERP.Shared.Services;
@using maERP.Shared.Dtos.User;

@attribute [Authorize]

@inject NavigationManager NavigationManager;
@inject IDataService<ICollection<ApiUserDto>> DataService;

<PageTitle>Benutzer</PageTitle>

<h1>Benutzer</h1>

@if (users == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>E-Mail</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Telefon</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td></td>
                    <td>
                        <a href='/User/edit/@user.Id' class="btn btn-outline-dark" role="button">
                            Bearbeiten
                        </a>
                        <a href='/User/delete/@user.Id' class="btn btn-outline-danger" role="button">
                            Löschen
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="/User/add">Benutzer anlegen</a>
}

@code {

    private ICollection<ApiUserDto> users;

    protected override async Task OnInitializedAsync()
    {
        users = await DataService.Request("GET", "/Users/GetAll");
    }
}