@page "/User/{userId}"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.User

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IDataService<ApiUserDto> DataService

<h1>@user.Email</h1>

<p></p>

@code {

    [Parameter]
    public string userId { get; set; } = "";

    protected string Title = "Benutzerdetail";

    protected ApiUserDto user = new();

    protected override async Task OnParametersSetAsync()
    {
        if (userId != null)
        {
            Title = "bearbeiten";
            user = await DataService.Request("GET", "/Users/" + userId);
        }
        else Title = "nicht gefunden";
    }
}