@page "/User/add"
@page "/User/edit/{userId}"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts;
@using maERP.Shared.Services;
@using maERP.Shared.Dtos.User;

@attribute [Authorize]

@inject NavigationManager NavigationManager;
@inject IDataService<ApiUserDto> DataService;

<h1>Benutzer</h1>

<hr />

<EditForm Model="@user">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Address" class="form-label">E-Mail</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="user.Email" />
        </div>
        <ValidationMessage For="@(() => user.Email)" />
    </div>
    <div class="mb-3">
        <label for="Cellnumber" class="form-label">Vorname</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="user.FirstName" />
        </div>
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Nachname</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="user.LastName" />
        </div>
        <ValidationMessage For="@(() => user.LastName)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Neues Passwort</label>
        <div class="col-md-4">
            <InputText type="password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="SaveUser">Speichern</button>
        <button class="btn btn-light" @onclick="Cancel">Abbrechen</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public string userId { get; set; } = "";

    protected string Title = "hinzufügen";

    protected ApiUserDto user = new();

    protected override async Task OnParametersSetAsync()
    {
        if (userId != null)
        {
            Title = "bearbeiten";
            user = await DataService.Request("GET", "/Users/" + userId);
        }
    }

    protected async Task SaveUser()
    {
        if (user != null)
        {
            await DataService.Request("PUT", "/Users/" + userId, user);
        }
        else
        {
            await DataService.Request("POST", "/Users/" + userId, user);
            Cancel();
        }
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/User");
    }
}
