@page "/Warehouses/add"
@page "/Warehouses/edit/{warehouseId:int}"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts;
@using maERP.Shared.Services;
@using maERP.Shared.Dtos.Warehouse;

@attribute [Authorize]

@inject NavigationManager NavigationManager;
@inject IDataService<WarehouseDto> DataService;

<h1>Lager</h1>

<hr />

<EditForm Model="@warehouse">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="warehouse.Name" />
        </div>
        <ValidationMessage For="@(() => warehouse.Name)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="SaveWarehouse">Speichern</button>
        <button class="btn btn-light" @onclick="Cancel">Abbrechen</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public int warehouseId { get; set; }

    protected string Title = "hinzufügen";

    protected WarehouseDto warehouse = new();

    protected override async Task OnParametersSetAsync()
    {
        if (warehouseId != 0)
        {
            Title = "Bearbeiten";
            warehouse = await DataService.Request("GET", "/Warehouses/" + warehouseId);
        }
    }

    protected async Task SaveWarehouse()
    {
        if (warehouse.Id != 0)
        {
            await DataService.Request("PUT", "/Warehouses/" + warehouseId, warehouse);
        }
        else
        {
            await DataService.Request("POST", "/Warehouses", warehouse);
        }

        Cancel();
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/Warehouses");
    }
}