@page "/TaxClasses/{taxClassId:int}"
@using maERP.SharedUI.Contracts
@using maERP.SharedUI.Models.TaxClass

@inject NavigationManager _navigationManager
@inject ITaxClassService _taxClassService

<h1>Steuerklasse</h1>

