@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <text>Hello</text>
                    <a href="/logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="https://github.com/maERP/maERP" target="_blank">About</a>
                </NotAuthorized>
            </AuthorizeView>            
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>