@page "/Warehouses"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.Warehouse

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IDataService<ICollection<WarehouseListDto>> DataService

<PageTitle>Lager</PageTitle>

<h1>Lager</h1>

@if (warehouses == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var warehouse in warehouses)
            {
                <tr>
                    <td>
                        <a href='/Warehouses/@warehouse.Id'>
                            @warehouse.Name
                        </a>
                    </td>
                    <td>
                        <a href='/Warehouses/@warehouse.Id/edit' class="btn btn-outline-dark" role="button">
                            Bearbeiten
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="/Warehouses/add">Lager anlegen</a>
}

@code {

    private ICollection<WarehouseListDto>? warehouses;

    protected override async Task OnInitializedAsync()
    {
        warehouses = await DataService.Request("GET", "/Warehouses/GetAll");
    }
}