name: maERP.Client Build and Test

on:
  push:
    branches-ignore: [ main ]
    paths:
      - 'src/maERP.Domain/**'
      - 'src/maERP.Client/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/maERP.Domain/**'
      - 'src/maERP.Client/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Install workloads
        run: dotnet workload install wasm-tools ios android maccatalyst maui tvos

      - name: Restore maERP.Client.Tests
        run: dotnet restore tests/maERP.Client.Tests -p:TargetFramework=net10.0
      - name: Build maERP.Client.Tests
        run: dotnet build tests/maERP.Client.Tests -p:TargetFramework=net10.0
      - name: Test maERP.Client.Tests
        run: dotnet test tests/maERP.Client.Tests --no-build --verbosity normal
